.vscode
.mypy_cache
docker-stack.yml
__pycache__
app.egg-info
.coverage
htmlcov
.idea
/.pytest_cache/
/.ruff_cache/
/.env
/data/
.python-version
/.venv/
*/.pytest_cache/
*/.ruff_cache/
*/.env
*/.idea
*/.idea/*

